.fotka {
  display: flex;
  justify-content: center;
}

body {
  background: #1c6ea4;
  background: -moz-radial-gradient(
    center,
    #1c6ea4 0%,
    #3391cb 0%,
    #000000 100%
  );
  background: -webkit-radial-gradient(
    center,
    #1c6ea4 0%,
    #3391cb 0%,
    #000000 100%
  );
  background: radial-gradient(
    ellipse at center,
    #1c6ea4 0%,
    #3391cb 0%,
    #000000 100%
  );
  color: whitesmoke;
}

h1 {
  padding: 5px;
  font-size: 24px;
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-transform: uppercase;
}
h2 {
  font-size: 14px;
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-transform: uppercase;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

a {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #bdc3c7;
}

.vizitka {
  width: 400px;
  height: auto;
  border-radius: 0 40px 10px 0;
}
